
@{
    ViewData["Title"] = "LiveChat";
}
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Utilizator: </div>
        <div class="col-4"><input asp-for="@User.Identity.Name" id="userInput" readonly /></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-2">Mesaj: </div>
        <div class="col-4"><textarea type="text" id="messageInput"></textarea></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" class="btn btn-info" id="sendButton" value="Trimite Mesaj" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

@*<div class="card">
        <div class="alert-light">
            <div class="container">
                <div class="card-header">
                    Conectat ca: @User.Identity.Name
                    <div>
                        @DateTime.Now
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <ul id="ulmessages"></ul>
                    </div>
                </div>
                <div class="alert alert-dark">
                    <div class="col-2">Lasa un mesaj:   </div>
                    <div class="col-4"><input type="text" id="message"/></div>
                    <div class="col-6">
                        <input type="button" class="btn btn-success" id="sendButton" value="Send Message"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
*@