@{
        ViewData["Title"] = "Home Page";
    }
    <head>
        <link href="@Url.Content("~/Data/Syle/login.css")" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Bine ai venit la RevolutionGym!</h1>
            <br />
            <div class="text-center"> “Nimic cu adevărat grozav nu a venit niciodată dintr-o zonă de confort.”</div>
            <div class="text-center">
                Orarul sălii fitness:
                <div class="text-center">Luni-Vineri: 09:00 - 21:00 </div>
            </div>
            <br />



        </div>
        <img src="/images/sala.jpg" alt="sala fitness" width="1200" height="500">
    </body>