@{
        ViewData["Title"] = "Home Page";
    }
    <head>
        <link href="@Url.Content("~/Data/Syle/login.css")" rel="stylesheet" type="text/css"/>
    </head>
    <body background="~/wwwroot/images/sala.jpg">
        <div class="text-center">
            <h1 class="display-4">Bine ai venit la RevolutionGym!</h1>
            <br />
            <div class="text-center"> “Nimic cu adevărat grozav nu a venit niciodată dintr-o zonă de confort.”</div>

        </div>
</body>